---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2 class="hug-top">
          {% if post.series %}
            <sub class="series darken">{{ post.series }}</sub>
          {% endif %}
          <a class="post-link darken" href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
          </a>
        </h2>
        <div>
          {{ post.excerpt }}
        </div>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe"><i>Psst! <a href="{{ "/feed.xml" | prepend: site.baseurl }}">This blog has RSS too..!</a></i></p>

</div>
