---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header headerContainer">
    <a href="{{ page.url }}" class="nostyle headerContainer">
      {% if page.series %}
        <h3 class="series">{{ page.series }}</h3>
      {% endif %}
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    </a>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if page.fediPostId %}
    <div id="fediComments" data-postid="{{ page.fediPostId }}">
      <h2>Comments</h2>
    </div>
    <a target="_blank" href="https://chitter.xyz/@archenoth/{{ page.fediPostId }}">Comment on fedi!</a>
    <link rel="stylesheet" href="/css/comments.css">
    <script type="module" src="/js/mastoComments.js"></script>
  {% endif %}
</article>
